input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input [type=number]{
    -moz-appearance: textfield;
}


  select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    
  }
  
  .select {
    
    background: #ffff url('../img/arrowdown.svg') 95.5% 50% no-repeat;
    
  }
.setUp {
    
  background: #ffff url('../img/arrowdown.svg') 95.5% 50% no-repeat;
  
}