@media (max-width: 1280px) {

  .prosseguir,
  .prosseguir2 {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  #prosseguir,
  #prosseguir2 {
    width: 200px;
  }

  @media (max-width: 820px) {

    .prosseguir,
    .prosseguir2 {
      position: absolute;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    #prosseguir,
    #prosseguir2 {
      width: 200px;
    }

    @media (max-width: 720px) {

      .img1 {
        position: absolute;
        width: 40%;
        left: 95px;
        top: 5px;
        border-radius: 0px;
      }

      .img2 {
        position: absolute;
        width: 90%;
        left: -30px;
        top: 120px;
        border-radius: 0px;


      }

      .logo1 {
        position: absolute;
        width: 60%;
        left: 90px;
      }


      .sing-in,
      .subscribe,
      .continue {
        position: relative;
        width: 90%;


      }

      .prosseguir,
      .prosseguir2 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media (max-width: 540px) {
        .text3 {
          font-size: 16px;
        }

        .required {
          position: relative;
         left: -15%;
          bottom: 27.28%;
          
        }

      }

      @media (max-width: 500px) {


        .img1 {
          position: absolute;
          width: 40%;
          left: 40px;
          top: 5px;
          border-radius: 0px;
        }

        .img2 {
          position: absolute;
          width: 90%;
          left: -30px;
          top: 120px;
          border-radius: 0px;


        }

        .logo1 {
          position: absolute;
          width: 60%;
          left: 61px;
        }

        .logo2 {
          position: absolute;

          width: 55%;
          left: 89px;

        }

        .sing-in,
        .subscribe,
        .continue {
          position: relative;
          width: 90%;


        }

        .prosseguir,
        .prosseguir2 {
          display: flex;
          align-items: center;
          justify-content: center;
        }


      }

      @media (max-width: 420px) {
        .logo2 {
          position: absolute;
          width: 70%;
          left: 40px;
        }

        .text1 {
          font-size: 18px;
        }

        .text2 {
          font-size: 16px;
        }

        .text3 {
          font-size: 14px;
        }

        .required {
          position: relative;
          right: 5%;
          left: 1%;
          bottom: 27.28%;
          width: 280px;
        }


        .prosseguir,
        .prosseguir2 {
          position: absolute;
          left: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

        }

        #prosseguir,
        #prosseguir2 {
          width: 200px;
        }

      }

      @media (max-width: 414px) {
        .text3 {
          font-size: 12px;
        }

        .required {
          position: relative;
          right: 10%;
          left: -3%;
          bottom: 27.28%;
          width: 280px;
        }

      }

      @media (max-width: 390px) {
        .text3 {
          font-size: 12px;
        }

        .required {
          position: relative;

          left: 1%;
          bottom: 27.28%;
          width: 280px;
        }

      }

      @media (max-width: 375px) {


        .img1 {
          position: absolute;
          width: 40%;
          left: 25px;
          top: 5px;
          border-radius: 0px;
        }

        .img2 {
          position: absolute;
          width: 90%;
          left: -30px;
          top: 120px;
          border-radius: 0px;


        }

        .logo1 {
          position: absolute;
          width: 60%;
          left: 50px;
        }

        .logo2 {
          position: absolute;
          width: 70%;
          left: 40px;
        }

        .text1 {
          font-size: 18px;
        }

        .text2 {
          font-size: 16px;
        }

        .text3 {
          font-size: 12px;
        }

        .required {
          position: relative;
          right: 0%;
          left: -2%;

          bottom: 27.28%;
          width: 260px;
        }

        .sing-in,
        .subscribe,
        .continue {
          position: relative;
          width: 90%;
          opacity: 80%;


        }

        .prosseguir,
        .prosseguir2 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 10%;
        }


      }

      @media (max-width: 360px) {
        .text3 {
          font-size: 12px;
        }

        .required {
          position: relative;
          left: 7%;
          bottom: 27.28%;
          width: 280px;
        }

      }

      @media (max-width: 320px) {

        .img1 {
          position: absolute;
          width: 40%;
          left: 25px;
          top: 5px;
          border-radius: 0px;
        }

        .img2 {
          position: absolute;
          width: 90%;
          left: -30px;
          top: 120px;
          border-radius: 0px;


        }

        .logo1 {
          position: absolute;
          width: 60%;
          left: 50px;
        }

        .logo2 {
          position: absolute;
          width: 70%;
          left: 30px;
        }

        .text1 {
          font-size: 16px;
        }

        .text2 {
          font-size: 14px;
        }

        .text3 {
          font-size: 10px;
        }

        .required {
          position: relative;
          right: 4%;
          bottom: 25.28%;
          width: 190px;
        }

        .sing-in,
        .subscribe,
        .continue {
          position: relative;
          width: 90%;
          opacity: 80%;


        }

        .prosseguir,
        .prosseguir2 {
          display: flex;
          align-items: center;
          justify-content: center;

        }

        #prosseguir,
        #prosseguir2 {
          width: 150px;
        }

      }
      @media (max-width: 280px) {
        .text3 {
          font-size: 10px;
        }

        .required {
          position: relative;
         left: 0%;
          bottom: 25.28%;
          
        }

      }


      @media (max-width: 250px) {

        .img1 {
          position: absolute;
          width: 40%;
          left: 25px;
          top: 5px;
          border-radius: 0px;
        }

        .img2 {
          position: absolute;
          width: 90%;
          left: -30px;
          top: 120px;
          border-radius: 0px;


        }

        .logo1 {
          position: absolute;
          width: 60%;
          left: 30px;
        }

        .logo2 {
          position: absolute;
          width: 70%;
          left: 30px;
        }

        .text1 {
          font-size: 16px;
        }

        .text2 {
          font-size: 14px;
        }

        .text3 {
          font-size: 10px;
        }

        .required {
          position: relative;
          right: 7%;
          bottom: 25.28%;
          width: 200px;
        }

        .sing-in,
        .subscribe,
        .continue {
          position: relative;
          width: 90%;
          opacity: 80%;


        }

        .prosseguir,
        .prosseguir2 {
          display: flex;
          align-items: center;
          justify-content: center;

        }

        #prosseguir,
        #prosseguir2 {
          width: 130px;
        }

        .text1,
        .text2 {
          font-size: 14PX;
        }

      }
    }
  }

  @media (max-width: 150px) {

    .prosseguir,
    .prosseguir2 {
      position: absolute;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    #prosseguir,
    #prosseguir2 {
      width: 100px;
    }

    .logo2 {
      position: absolute;
      width: 70%;
      left: 18px;
    }

    .text1 {
      font-size: 12px;
    }

    .text2 {
      font-size: 10px;
    }

    .text3 {
      font-size: 10px;
    }

    .required {
      position: relative;
      right: 7%;
      bottom: 25.28%;
      width: 180px;
    }
  }
}