body {
    background-color: rgb(242, 242, 242);
    
}
.fundoModal{
    display:none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0 ,0, 0.655);
    z-index: 9998;

}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #ffffff;
    width: 600px;
    height: 100px;
    z-index: 9999;
    border-radius: 12px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.707);
    border: 1px solid #BDBDBD;
    
}
.modal p{
    margin: 20px 20px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #00995D;
}
.conteiner-login {
    position: absolute;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.conteiner-login2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}


.img1 {

    position: absolute;
    height: 100vh;
    width: 526.42px;
    left: -50px;
    
  

}



.sing-in {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #017849;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 608px;
    width: 608px;
    left: 0px;
    top: -0px;



}

.logo1 {
    position: absolute;
    width: 60%;
    left: 120.5px;
    top: 77.5px;
}

.sing {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    top: 100px;
    box-sizing: border-box;
}

.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 100%;
}

.name,
.email-2, .senha, .senha2 {
    position: relative;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 120%;

}

.email input,
.password input {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #BDBDBD;


}

.name input,
.email-2 input, .senha input, .senha2 input {
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #BDBDBD;
}

.email label,
.password label {
    color: #FFFFFF;
    margin-bottom: 5px;
}

.name label,
.email-2 label, .senha label, .senha2 label {
    color: #4F4F4F;
    margin-bottom: 5px;
}

.entrar {
    width: 100%;

}

.entrar button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #017849;
    border: 1px solid #BDBDBD;
    color: #FFFFFF;
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;


}

.entrar button:hover {
    transform: scale(1.01);
}

.cadastre-se {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;

}

.cadastre-se p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.subscribe {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 466px;
    width: 522px;
    left: 0px;
    top: 0px;


}

.logo2 {
    width: 50%;
    position: absolute;
    left: 25.5%;
    right: 32.54%;
    top: 9.23%;
    bottom: 82.13%;

}

.paragraph {
    position: absolute;
    top: 24.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;



}

.text1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #00995D;
}

.text2 {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    align-items: center;
    color: #00995D;
    text-align: center;

}

.prosseguir,.prosseguir2 {
    position: absolute;
    width: 1.9%;
    top: 82%;
    left: 46%;
    bottom: 4%;
    cursor: pointer;
   
}

.prosseguir:hover, .prosseguir2:hover {
    transform: scale(1.1);
}

.prosseguir button, .prosseguir2 button {
    border: none;
    border-radius: 8px;
    color: none;
    cursor: pointer;

}

.continue {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 534px;
    width: 522px;
    left: 0px;
    top: 0px;
}

.required {
    position: relative;
    right: 23.5%;
    bottom: 25.28%;
}

.text3 {

    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #6F6F6E;

}
.text3 span{
    color:#EB5757
}
#ocultar{
    position: absolute;
    left: 91%;
    top: 45%;
    width: 25px;
    cursor: pointer;
}
#ocultar2 {
    position: absolute;
    left: 91%;
    top: 40%;
    width: 25px;
    cursor: pointer;
}
#ocultar3 {
    position: absolute;
    left: 91%;
    top: 40%;
    width: 25px;
    cursor: pointer;
}