body {
    background-color: rgb(242, 242, 242);

}

.fundoModal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.655);
    z-index: 9998;

}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #ffffff;
    width: 600px;
    height: 100px;
    z-index: 9999;
    border-radius: 12px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.707);
    border: 1px solid #BDBDBD;

}

.modal p {
    margin: 20px 20px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #00995D;
}

.conteiner-login {
    position: absolute;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.conteiner-login2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}


.img1 {

    position: absolute;
    height: 100vh;
    width: 526.42px;
    left: -50px;



}



.sing-in {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #017849;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 608px;
    width: 608px;
    left: 0px;
    top: -0px;



}

.logo1 {
    position: absolute;
    width: 60%;
    left: 120.5px;
    top: 77.5px;
}

.sing {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    top: 100px;
    box-sizing: border-box;
}

.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 100%;
}

.name,
.email-2,
.senha,
.senha2 {
    position: relative;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 120%;

}

.email input,
.password input {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #BDBDBD;


}

.name input,
.email-2 input,
.senha input,
.senha2 input {
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #BDBDBD;
}

.email label,
.password label {
    color: #FFFFFF;
    margin-bottom: 5px;
}

.name label,
.email-2 label,
.senha label,
.senha2 label {
    color: #4F4F4F;
    margin-bottom: 5px;
}

.entrar {
    width: 100%;

}

.entrar button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #017849;
    border: 1px solid #BDBDBD;
    color: #FFFFFF;
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;


}

.entrar button:hover {
    transform: scale(1.01);
}

.cadastre-se {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;

}

.cadastre-se p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.subscribe {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 466px;
    width: 522px;
    left: 0px;
    top: 0px;


}

.logo2 {
    width: 50%;
    position: absolute;
    left: 25.5%;
    right: 32.54%;
    top: 9.23%;
    bottom: 82.13%;

}

.paragraph {
    position: absolute;
    top: 24.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;



}

.text1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #00995D;
}

.text2 {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    align-items: center;
    color: #00995D;
    text-align: center;

}

.prosseguir,
.prosseguir2 {
    position: absolute;
    width: 1.9%;
    top: 82%;
    left: 46%;
    bottom: 4%;
    cursor: pointer;
    z-index: 1;

}

.prosseguir:hover,
.prosseguir2:hover {
    transform: scale(1.1);
}

.prosseguir button,
.prosseguir2 button {
    border: none;
    border-radius: 8px;
    color: none;
    cursor: pointer;

}

.continue {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 534px;
    width: 522px;
    left: 0px;
    top: 0px;
}

.required {
    position: relative;
    right: 23.5%;
    bottom: 25.28%;
}

.text3 {

    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #6F6F6E;

}

.text3 span {
    color: #EB5757
}

#ocultar {
    position: absolute;
    left: 91%;
    top: 45%;
    width: 25px;
    cursor: pointer;
}

#ocultar2 {
    position: absolute;
    left: 91%;
    top: 40%;
    width: 25px;
    cursor: pointer;
}

#ocultar3 {
    position: absolute;
    left: 91%;
    top: 40%;
    width: 25px;
    cursor: pointer;
}

.mod,
.modDelete {
    background-color: #4f4f4fcc;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    display: none;
}

.modedit,
.modedit2 {
    background-color: #FFFFFF;
    width: 30%;
    height: 300px;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 3px #E0E0E0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: #00995D;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}

.modedit p,
.modedit2 p {
    position: relative;
    top: 28%
}

.confirm {
    position: relative;
    top: 50%;
    width: 100%;


}

.Yes,
.yes {
    background-color: #00995D;
    width: 40%;
    height: 40px;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.No,
.no {
    background-color: #990000;
    width: 40%;
    height: 40px;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.Yes:hover,
.No:hover,
.yes:hover,
.no:hover {
    transform: scale(1.04);
}


.main-conteiner {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: block;


}

.cabecalho {
    position: relative;
    background-color: #FFFFFF;
    height: 80.75px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: block;
}

.header header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logoCabecalho {
    width: 80px;
    height: 80.75px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.logoCabecalho img {
    Width: 28.85px;
    Height: 44.33px;
}

.contentHeader {
    position: relative;
    height: 80.75px;
    width: 95%;
    background-color: #ffffff;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #017849;
}

.userContent {
    position: absolute;
    right: 48px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userName {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #017849;
}

#arrow-down {
    cursor: pointer;
}

#arrow-down:hover {
    transform: scale(1.03);
}

.contentTable {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.painelTable {
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: #FFFFFF;
    max-width: 100%;
    width: 85%;
    max-height: 100vh;
    height: 70vh;
    border-radius: 10px;
    flex-direction: column;
}

.textPaciente {
    position: absolute;
    left: 7.5%;
    top: 3%;
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
}

.rowcadastro {
    position: relative;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 45%;

}

.buttonNewPacient {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    width: 197px;

}

.newPacientAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 52px;
    padding: 14px, 20px, 14px, 20px;
    border-radius: 30px;
    background-color: #017849;
    border: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 379px;

}

.search input {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 24px 0px 0px 24px;
    padding-left: 20px;
}

.search input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #828282;
}

.filterUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 125px;
    height: 48px;
    padding: 14px, 20px, 14px, 20px;
    border-radius: 0px 30px 30px 0px;
    background-color: #017849;
    border: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.filterUser:hover,
.buttonNewPacient:hover {
    transform: scale(1.02);
}

.pacientes {
    margin-left: 18px;
    width: 20.5%;
    background-color: #E0E0E0;
    position: absolute;
    padding-left: 10px;
    z-index: 1;
    opacity: 80%;
    display: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#imgGiff {
    width: 200px;
    position: absolute;
    top: 10%;
    z-index: -1;
}

.searchcontent {
    flex-direction: column;
}

.obrigatorio {
    display: flex;
}

.containertabela {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 94%;

}


.tableContent {
    display: flex;
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
    justify-content: cemter;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}



.dadostabela,
table,

td,
th {
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
}


.codigo {
    max-width: 100%;
    width: 280px;
    padding: 8px;
    color: #2F80ED;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.nometabela {
    border-left: 1px solid #E0E0E0;
    max-width: 100%;
    width: 350px;
    padding: 8px;
    color: #2F80ED;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.CPF {
    border-left: 1px solid #E0E0E0;
    max-width: 100%;
    width: 300px;
    padding: 8px;
    color: #3179d6;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.actions {
    border-left: 1px solid #E0E0E0;
    max-width: 100%;
    width: 200px;
    padding: 8px;
    color: #3179d6;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

#codigoUser {
    max-width: 100%;
    width: 270px;
    padding: 8px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    padding: 8px;
}

#nomeUser1 {
    max-width: 100%;
    width: 340px;
    padding: 8px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    padding: 8px;
}

#cpfUser {
    max-width: 100%;
    width: 288px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    padding: 8px;
}

#iconn {

    max-width: 100%;
    width: 193px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #4F4F4F;
    text-align: center;
    padding: 8px;
}

#clipboard {
    width: 30px;
    height: 22px;
    color: #017849;
    border: 1px solid #017849;
    background-color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 16px;
    text-align: center;

}


#penLine {
    width: 30px;
    height: 22px;
    border: 1px solid #2F80ED;
    background-color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

#penLine img {
    width: 12px;
}

#trash {
    width: 30px;
    height: 22px;
    color: #EB5757;
    border: 1px solid #EB5757;
    background-color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 16px;
    text-align: center;

}

#clipboard:hover,
#penLine:hover,
#trash:hover {
    transform: scale(1.03);
}

#pagination {
    display: flex;
    position: relative;
    top: 12%;
    gap: 10%;
    width: 15%;
    align-items: center;
    justify-content: center;
}

#pagination button {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px #616161;
    border: none;
    background-color: #00995D;
    color: #FFFFFF;
    font-size: 14PX;
    font-weight: 500;

}

#pagination button:hover {
    transform: scale(1.04);
}

.modal-paciente {
    position: absolute;
    top: 8%;
    left: 10%;
    max-width: 100%;
    width: 80%;
    max-height: 100vh;
    height: 560px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 50px;
    border-radius: 16px;
    gap: 30px;
    box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.15);
}

.modal-paciente1 {
    display: flex;
    position: absolute;
    top: 8%;
    left: 10%;
    max-width: 100%;
    width: 80%;
    max-height: 100vh;
    height: 560px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 50px;
    border-radius: 16px;
    gap: 30px;
    box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.15);
}


.paceiteTitulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.space {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#editar {
    display: none;
    position: relative;
    left: -15%;
    width: 30px;
    height: 22px;
    border: 1px solid #2F80ED;
    background-color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.paceiteTitulo i {
    cursor: pointer;
}

.paceiteTitulo i:hover {
    transform: scale(1.04);
}

.paceiteTitulotext {
    position: relative;
    top: 3%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #00995D;

}

.one,
.one1,
.two,
.two1,
.three,
.three1,
.for1,
.for {
    position: relative;
    max-width: 100%;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

.one input,
.two input,
select,
.three input,
.for input,
.one1 input,
.two1 input,
select,
.three1 input,
.for1 input,
select {
    max-width: 100%;
    width: 327px;
    padding: 13px 16px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}

.one label,
.two label,
.three label,
.for label {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
}


.send {
    position: relative;
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #E0E0E0;
    width: 110%;
    gap: 54.5%;
    font-family: Poppins, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #616161;
}

.btnsend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

#saveEdit {
    width: 240px;
}

.btnsend p {
    cursor: pointer;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #616161;
}

.btnsend p:hover {
    transform: scale(1.04);
}

.send button {

    width: 147px;
    height: 48px;
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00995D;
    border: none;
    cursor: pointer;
}

.send button:hover {
    transform: scale(1.03);
}

.modalSucess {
    position: absolute;
    background-color: #6f6f6e8f;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;

}

.sucessContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    width: 40%;
    height: 70vh;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0, 0, 14px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#imgGiff {
    width: 200px;
    position: absolute;
    top: 10%
}

.sucessContent p {
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 128%;
    text-align: center;
    color: #00995D;
    margin-top: 30%;

}

.sucessContent button {
    background-color: #017849;
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 128%;
    text-align: center;
    position: relative;
    top: 10%;
    cursor: pointer;
    box-shadow: 0, 0, 10px #4F4F4F;
}

.sucessContent button:hover {
    transform: scale(1.05);
}

#logoModal {
    width: 20%;
    position: absolute;
    top: 10%;
}

.popup {
    position: absolute;
    left: 78.5%;
    top: 105%;
    background-color: #ffffff;
    width: 20.2%;
    height: 22vh;
    z-index: 10;
    border-radius: 18px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px 8px rgba(49, 48, 48, 0.2), 0 25px 50px 0 rgba(56, 55, 55, 0.1);
}

.setaUp {
    position: absolute;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    top: -16%;
    padding: 0;
    margin: 0;


}

.balao {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(358.25deg, rgba(229, 229, 229, 0.68) 19.64%, #FFFFFF 75.78%);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.topoBalao {
    display: flex;
    justify-content: start;
    padding: 10px;
    flex-direction: column;
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #000000;
    gap: 0.3rem;
}

.emailLogado {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.setaSair {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.8rem;
    top: 28%;


}

.setaSair span {
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #000000;
    cursor: pointer;
}

.setaSair img {
    cursor: pointer;
}

.setaSair img:hover {
    transform: scale(1.09);
}

.setaSair span:hover {
    transform: scale(1.06);
}

.prontuario {
    display: none;
    justify-content: center;
    align-items: start;
    position: absolute;
    background-color: #E5E5E5;
    width: 100%;
    height: 1100px;
    z-index: 1;
    flex-direction: column;
}

.text4 {
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
}

.voltarList {
    width: 40%;
    position: absolute;
    z-index: 1;
    left: 9%;
    top: 35%;
    display: flex;
}

.text55 {
    position: absolute;
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 138.5%;
    color: #212121;
    cursor: pointer;
    display: none;
}

.findAndText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 85%;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conteinerGrid {
    display: flex;
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 17%;


}

.dadosPac {
    position: relative;
    display: flex;
    justify-content: cemter;
    align-items: start;
    flex-direction: column;
    left: 7%;
    max-width: 100%;
    width: 340px;
    height: 350px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.interna {
    width: 80%;
    height: 90%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3%
}

.dadosPaciente {
    flex-direction: column;
    display: flex;
    gap: 30px;
    width: 80%;
}

.pac {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
}

.pac img {
    margin-bottom: 1.5%;
}

.sp1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #616161;
    margin-left: 8.5%;
}

.text8 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    color: #212121;

}

.text9 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #00995D;
}


.lateral {
    position: relative;
    left: 10%;
    background-color: #FFFFFF;
    height: 80px;
    width: 58%;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px
}

.cabecalhoLateral {
    position: absolute;
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cetralizador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
}

.sectionHead,
.fatoRel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.sectionHead:hover,
.fatoRel:hover {
    transform: scale(1.05);
}

.text10 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #616161;
}

.filtrar {
    width: 100%;
    position: relative;
    top: 94px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.5em
}

.linha {
    width: 75%;
    background-color: #BDBDBD;
    height: 2px;
    position: relative;

}

.sp2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #757575;
}

.sp3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}

.filtro {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

.filtro img {
    cursor: pointer;
}

.filtro img:hover {
    transform: scale(1.05);
}

.cardSection {
    position: relative;
    top: 130px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left: 4px solid #00995D;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 8px 8px 0px;
    display: none;
    width: 100%;
    height: 210px;
    flex-direction: column;
}

.img {
    position: relative;
    bottom: 1px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

}

.img img {
    position: absolute;
}

.titulo1 {
    position: relative;
    top: 25px;
    left: 19px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;

}

.text11 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.spn3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;

}

.spn3:hover {
    transform: scale(1.05);
}

.data {
    position: relative;
    top: 25px;
    left: 19px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #616161;
}

.caixadetexto {
    width: 95%;
    position: relative;
    top: 50px;
    left: 19px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #424242;

}

.vermais {
    width: 95%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    top: 25px
}

.text13 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #2F80ED;
    cursor: pointer;
}

.text13:hover {
    transform: scale(1.06);
}

.cardfatos {
    position: relative;
    top: 170px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left: 4px solid #2F80ED;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 8px 8px 0px;
    display: none;
    width: 100%;
    height: 146px;
    flex-direction: column;
}

.imgcentral {
    display: flex;
    align-items: center;
    justify-content: center;
}

.traco {
    position: relative;
    bottom: 40px;
}

.cardSection2 {
    position: relative;
    top: 210px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left: 4px solid #00995D;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 8px 8px 0px;
    display: none;
    width: 100%;
    height: 210px;
    flex-direction: column;
}

.voltaraotopo {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 260px;
    gap: 0.6rem;
    cursor: pointer;
}

.voltaraotopo a {
    text-decoration: none;
}

.voltaraotopo:hover {
    transform: scale(1.08);
}

.setas i {
    top: 1px;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 170%;
    color: #212121;
}

.spn4 {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    display: flex;
    align-items: center;
    color: #212121;
}

.modalSection {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.655);
    z-index: 9999;
    display: none;

}

.modalSectionContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
    width: 674px;
    height: 635px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: none;

}

.scroll {
    background-color: #FFFFFF;
    width: 95%;
    height: 460px;
    scroll-behavior: unset;
    overflow-y: scroll;
    margin: 0 auto;
    border: none;
}

.newsection {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 22px;
    background-color: #FFFFFF;
    border: none
}

.newsection span {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #00995D;
}

.dadosGerais {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
    top: 30px;
}

.topo {
    display: flex;
    gap: 1rem
}

.number {
    width: 32px;
    background-color: #00995D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.number span {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.titulo span {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #212121;

}

.inputs {
    display: flex;
    width: 90%;
    gap: 0.8rem;
    margin-top: 10px
}

.inputDH {
    width: 400px;
    display: flex;
    flex-direction: column;

}

.inputDH input {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
}

#fecharModal {
    cursor: pointer;
}

#fecharModal:hover {
    transform: scale(1.06);
}

.inputDH label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
}

.linha {
    width: 90%;
    margin-top: 20px;
    background-color: #EEEEEE;
}

.sessao {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
    top: 55px;
}

.inputs1 {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 1.5rem;
    margin-top: 10px;


}

.inputTT {
    width: 97.4%;
    display: flex;
    flex-direction: column;
}

.inputTT input {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
}

.inputTT textarea {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
}

.linha2 {
    width: 97.4%;
    margin-top: 20px;
    background-color: #EEEEEE;
    height: 2.5px;
}

.pagamento {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
    top: 85px;
}

.inputs2 {
    display: flex;
    margin-top: 10px;
    width: 600px;

}

.inputpPP {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.inputpPP input {
    width: 200px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
}

.inputpPP select {
    width: 200px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
}

.status {
    width: 450px;
    display: flex;
    justify-content: center;
    gap: 0.8rem;


}

.radio {
    display: flex;
    flex-direction: column;
}

.inpupRadio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-top: 5px;
}

.dica {
    display: flex;
    gap: 1rem;
    margin-top: 15px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
}

.dica i {
    color: #017849;
    font-size: 28px;
}

.dois {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.footer {
    width: 100%;
    border-top: 2px solid #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19%;

}

.criarSection {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #616161;
}

.createSection {
    display: flex;
    align-items: center;
    gap: 1.1rem
}

.createSection button, .btnCreateFactor {
    width: 150px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background-color: #00995D;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;

}

.createSection button:hover {
    transform: scale(1.05);
}

.createSection span {
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #616161;
    cursor: pointer;
}

.createSection span:hover {
    transform: scale(1.05);
}

.modalfatorRelevante {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 8px;
    display: none;
    justify-content: start;
    align-items: center;
    width: 642px;
    height: 466px;
    flex-direction: column;

}

.newfactor {
    position: relative;
    top: 20px;
    left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;

}

.newfactor span {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #00995D;
}

.newfactor i {
    font-size: 18px;
}

.conteinerFator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 94%;
    height: 350px;

}

.inputs5 {
    position: relative;
    top: 40px;
    left: 10px;
    display: flex;
    justify-content: center;
    width: 94%;
    flex-direction: column;
    gap: 2rem;

}
.inputFR{
    width: 100%;
    gap: 0.5rem;
}
.down label{
    position: relative;
    bottom: 15px;
    left: 3px;
}

.up {
    position: relative;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem
}

#dataa {
    box-sizing: border-box;
    width: 200px;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 12px;
}

#titulooo {
    box-sizing: border-box;
    width: 350px;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 12px;

}

.down {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0.6rem

}

#area {
    width: 577px;
    position: relative;
    left: 5px;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 15px;

}
.footerFator{
    width: 100%;
    border-top: 2px solid #E5E5E5;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.criarFatoRel{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}